.app-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 30px;
}

.money-manager-container {
  width: 85%;
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .money-manager-container {
    width: 75%;
    max-width: 1000px;
  }
}

.greetings-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  border-radius: 10px;
  padding: 30px 5px 20px 30px;
}

.greeting-heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #475569;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .greeting-heading {
    text-align: left;
  }
}

.welcome-description {
  font-family: 'Roboto';
  font-size: 15px;
  color: #475569;
}

.money-manager-heading {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: #0b69ff;
}

.form {
  border: 1px solid #cbd5e1;
  border-radius: 15px;
  padding: 35px 25px 35px 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.form-heading {
  font-family: 'Roboto';
  font-size: 20px;
  color: #334155;
}

.label {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
  color: #7e858e;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-text {
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-size: 13px;
  color: #7e858e;
  border: 1px solid #d7dfe9;
  border-radius: 3px;
  outline: none;
}

.dropdown-list {
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 500;
  color: #475569;
  border: 1px solid #d7dfe9;
  border-radius: 3px;
  outline: none;
}

.form-add-btn {
  background-color: #0b69ff;
  border: 0;
  border-radius: 5px;
  align-self: flex-start;
  padding: 10px 23px 10px 23px;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

.transaction-history-container {
  border: 1px solid #cbd5e1;
  border-radius: 15px;
  padding: 35px 25px 35px 25px;
  display: flex;
  flex-direction: column;
}

.history-heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
  color: #334155;
  margin: 0;
}

.transaction-list {
  padding: 0;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.headings-container {
  display: flex;
  padding: 0px 10px 0px 10px;
  border: 1px solid #cbd5e1;
}

.columns-headings {
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 700;
  color: #334155;
}
